html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

span.brand-text.font-weight-light {
    font-size: 18px;
}

.nav-sidebar .nav-link p {
    display: inline;
    margin: 0;
    white-space: normal;
    color: #c2c7d0;
}

.nav-sidebar .nav-link:hover p {
    color: #fff;
}

.input-group-addon {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #f9fafb;
    border-color: #ebebeb;
    color: #929daf;
    line-height: 1.5;
    font-weight: 300;
    border-radius: 2px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: inherit;
}

.category-list ul {
    padding: 0;
}

    .category-list ul li {
        padding: 2px 0;
    }

.getViewProduct {
    display: inline-block;
}

.action-button {
    display: inline-block;
}

.product-modal-image {
    height: 120px;
    width: 100px;
    border: 1px solid;
}

.barcode-box {
    display: inline-block
}

.bar-codeImage {
    width: 150px;
    height: 80px;
}

.bar-image {
    display: block;
    margin: auto;
    width: 30%;
}

.custom-modalBody {
    margin: auto;
    width: 32%;
}

hr {
    border-top: 1px solid rgba(0,0,0,.5) !important;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 16px;
}

.select2-container--default .select2-selection--single {
    border: none!important;
    padding: .46875rem .75rem;
}

img.table-logo-image {
    border-radius: 30px;
    width: 40px;
    height: 38px;
}

.damage-qty {
    display: none;
}


.header {
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 30px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    border-bottom: 1px solid #ebebeb;
}

.header-info {
    margin: 10px 0;
    padding: 0 30px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.category {
    max-height: 600px;
    overflow: auto;
    max-width: 120px;
}

.list-group {
    width: fit-content;
}
